.ul {
  list-style: none;
  display: block;
}
.sobre {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.li {
  display: flex;
  justify-content: space-between;
}

.extra {
  color: red;
}

.sub {
  margin-bottom: 10px;
  color: rgb(57, 50, 64);
}
