.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100vh;
}

.main {
  /* background-image: linear-gradient(181deg, #000000 10%, #cececea8 74%); */
  display: flex;
  flex-direction: column;
  padding: 20px 200px;
  flex: 1;
}

h1 {
  font-size: 50px;
  margin-top: 40px;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 20px;
}

.ul {
  display: block;
}
